@import "../../global.scss";

.gallery {
  height: auto;
  .present {
    margin-top: 120px;
    width: 100%;
    height: 500px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .video {
      width: 60%;
      height: 80%;
      overflow: hidden;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  h3{
    text-align: center;
    color: $mainColor;
    text-transform: uppercase;
    font-size: 2em;
  }
  .galleryList {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    .gallery{
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      width: 90%;
      img{
        width: 400px;
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 1s ease;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}
