@import "../../global.scss";

.dashboard {
  height: 100vh;
  width: 100%;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .dashboardItems {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    a {
      text-decoration: none;
      color: white;
    }
  }
}
